* {
    font-family: Songti SC, 'Times New Roman', Times, serif;
}
main,footer {
    padding: 10px;
}

section {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

.help{
    cursor: help;
}

.tip-new{
    position: relative;
    font-size: 14px;
    top: -10px;
    color: red;
}